#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1101;
	display: none;
}

#helpPopup
{
	text-align: justify;
	color: black;
	width: 600px;
	height: 500px;
	overflow: auto;
	margin: 0;
	padding: 0;
}

#helpPopup a:link
{
	background: none;
	color: #000000;
	font-size: 10px;
	font-family: verdana, helvetica;
	text-decoration: underline;
}

#helpPopup a:active
{
	background: none;
	color: #000000;
	font-size: 10px;
	font-family: verdana, helvetica;
	text-decoration: underline;
}

#helpPopup a:visited
{
	background: none;
	color: #000000;
	font-size: 10px;
	font-family: verdana, helvetica;
	text-decoration: underline;
}

#helpPopup a:hover
{
	background: none;
	color: #000000;
	font-size: 10px;
	font-family: verdana, helvetica;
	text-decoration: none;
}

span.additionaltext {
	display: none;
}
