.header-btn.ui-btn {
	width: 44px;
	height: 42px;
	top: 0;
	border-top: none;
	border-bottom: none;
	background: none;
	background-image: none;
	border: none;
}

.header-btn.ui-btn:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bhover-background-start}*/), to( #4272a4 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bhover-background-start}*/, #4272a4 /*{b-bhover-background-end}*/);
}

.header-btn.ui-btn-left {
	left: 0;
	border-left: none;
	border-right: 1px solid grey;
}

.header-btn.ui-btn-right {
	right: 0;
	border-right: none;
	border-left: 1px solid grey;
}

.header-btn.ui-shadow {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.header-btn .ui-btn-inner {
	border: none;
}

.header-btn .ui-btn-inner .ui-icon {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: transparent;
	background-image: url(menu.png);
	background-position: 0;
	background-size: 100%;
}

.header-btn .ui-btn-inner .ui-icon-bars {
	background-image: url(menu.png);
}

.header-btn .ui-btn-inner .ui-icon-info {
	background-image: url(info.png);
}

.header-btn .ui-btn-inner  .ui-icon-shadow {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#menu.ui-panel, #infopanel.ui-panel, #menu.ui-panel-open, #infopanel.ui-panel-open, #menu .ui-panel-inner , #infopanel .ui-panel-inner {
	width: 15em;
}

#menu.ui-panel-closed, #infopanel.ui-panel-closed {
	width: 0;
}

.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
	-webkit-transform: translate3d(15em,0,0);
	-moz-transform: translate3d(15em,0,0);
	transform: translate3d(15em,0,0);
}

.ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
	-webkit-transform: translate3d(-15em,0,0);
	-moz-transform: translate3d(-15em,0,0);
	transform: translate3d(-15em,0,0);
}

#menu h3, #infopanel h3
{
	font-family: arial;
	font-size: 16px;
	color: #fff;
	margin: 0;
	background-color: #5a5959;
	padding: 4px;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,rgba(90,89,89,1)),color-stop(85%,rgba(66,65,65,1)));
	box-shadow: 0 1px 0 #727272;
}

#menu ul
{
	margin:0;
	padding:0;
}

#menu .ui-panel-inner, #infopanel .ui-panel-inner {
	padding: 0;
}

#menu ul li
{
	list-style-type:none;
	margin:0;
}

#menu li ul
{
	display: none;
	background-color: white;
}

#menu ul li h3
{
	background: none;
	padding: 0;
}
#menu ul li h3 span
{
	width: 20px;
	height: 20px;
	float: right;
	background-repeat: no-repeat;
	position: relative;
	top: -1px;
	right: 2px;
}

#menu ul li h3 span.closed
{
	background: url(arrows.png) 0 0;
	background-size: 20px;	
}

#menu ul li h3 span.open
{
	background: url(arrows.png) 0 20px;
	background-size: 20px;
}

#menu ul li a:link, #menu ul li a:visited, #menu ul li a:hover
{
	color:#fff;
	text-decoration:none;
	display:block;
	padding: 10px;
	padding-right: 2px;
	padding-bottom: 6px;
}

#menu li ul li a:link, #menu li ul li a:visited, #menu li ul li a:hover
{
	color:#000;
	text-decoration: none;
	display:block;
	padding: 10px;
	padding-right: 2px;
	padding-bottom: 6px;
	text-shadow: none;
}

#menu ul li a:active
{
	background-color:#716f6f;
}