.ui-page {
    -webkit-backface-visibility: hidden;
}

.ui-hide-label.ui-br, .no-field-separator {
    border-bottom-width: 0;
}
.ui-field-contain.ui-hide-label, .no-field-separator {
    margin: 1em 0;
    padding: 0;
}

.outline
{
	padding: 5px;
	padding-left: 7px;
	padding-top: 0;
}

.outline .right {
	text-align: right;	
}

#infobox_content {
	font-size: 14px;
	white-space: nowrap;
}
#infobox_content div {
	display: block;
}

#infobox_content .activation-run-img {
	margin-top: -8px;
}

.ellipsis {
	white-space: nowrap;
	height: 100%;
	padding-top: 8px;
	position: relative;
}

.ellipsis.extra-margin {
	margin-bottom: 35px;
}

.ellipsis.extra-margin .description {
	margin-top: 10px;
}

.ellipsis .description {
	max-width: 70%;
	display: block;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
}

.ellipsis .right {
	position: absolute;
	right: 5px;
}


.ellipsis  .right.username {
	position: relative;
	display: block;
	/*margin-right: 5px;*/
}

.bold
{
	font-family: verdana,helvetica;
	font-weight: bold;
}

.ui-field-contain div.ui-slider { width: 90%; }
.ui-field-contain label.ui-slider { display: inline-block; margin: 0 2% 0 0; vertical-align: top; }
.ui-field-contain div.ui-slider-mini { width: 60%; }
input.ui-slider-input.ui-mini, .ui-field-contain input.ui-slider-input.ui-mini { font-size: 14px; margin: 0.25em 0; width: 30px; }

.houseplan-slider img {
	float: left;
}

.houseplan-slider .ui-slider.ui-mini .ui-slider-track {
	margin: 0 0 0 32px;
	top: 6px;
}

input.device-slider.ui-input-text.ui-slider-input {
	width: 28px;
	font-size: 16px;
	font-weight: bold;
}

.device-slider .ui-slider .ui-slider-track {
	margin: 0 15px 0 45px;
}

.ui-slider-switch .ui-slider-label-a, .ui-slider-switch .ui-slider-label-b {
	text-indent: 3em;
	text-align: left;
}

.ui-slider-label {
	font-size: 14px;
}

.ui-field-contain label.ui-slider {
	font-weight: bold;
}

.device-slider.ui-body-a, .ui-overlay-a {
	background: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input.device-slider.ui-input-text.ui-slider-input {
	padding-left: 0;
	padding-right: 0;
}

.mobile-center {
	width: 90%;
	padding: auto;
	margin: auto;
	text-align: center;
}