/*ul.monthly li.allselector
{
	clear: both;
}*/

#dayList li {
	float: left;
	display: inline;
	width: 100px;
}

#monthDayList li {
	float: left;
	display: inline;
	width: 45px;
}

#monthList li {
	float: left;
	display: inline;
	width: 150px;
}
