html, body
{
	height: 99%;
}

/* need to have two body tags declared to have centering working in both IE and FF*/
body
{
	font-family: verdana,helvetica;
	font-size: 10px;
	color: #000000;
	background: #84bdf3;
	text-align: center;
}

body
{
	font-family: verdana,helvetica;
	font-size: 10px;
	color: #000000;
	background: #84bdf3;
	text-align: -moz-center;
}

#main
{
	width: 80%;
	min-width: 800px;
	height: 100%;
	margin: 0 auto; /* for the rest */
}

font
{
	font-family: verdana,helvetica;
	font-size: 10px;
}

.mediumBold
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	height: 30px;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
}

.bigBold
{
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

font.big
{
	font-family: verdana,helvetica;
	font-size: 20px;
	font-weight: bold;
}

table
{
	border: none;
	border-collapse: separate;
	text-align: left;
}

table.page
{
	border: none;
	border-width: 0px;
	border-collapse: collapse;
}

table.nowrap td {
	white-space: nowrap;
}

td.album
{
	background-image:url('album.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.home
{
	background-image: url('resources/home.jpg'); background-repeat: no-repeat; background-position: top left;
}


.incorrect
{
	color: #990033;
	font-weight: bold;
}

table.programinfo
{
	border: none;
	padding-top: 4px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-collapse: collapse;
}

td.active
{
	background-color: #FFFFFF;
}

td.org
{
	background-color: #333333;
}

td, div
{
	font-family: verdana,helvetica;
	font-size: 10px;
}

a:link.link , a:active.link , a:visited.link 
{
	color: black !important;
	text-decoration: underline;
	
}

a:hover.link 
{
	color: black !important;
	text-decoration: none;
	
}

tr.markedrow
{
	background-color: #84bdf3;
}

tr.evenrow
{
	background-color: #dddddd;
}

tr.oddrow
{
	background-color: #ffffcc;
}

input.button
{
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: normal;
	border: solid 1px;
	border-color: black;
	height: 17px;
	width: auto;
}

.dimlevel
{
	font-family: verdana,helvetica;
	font-size: 8px;
	font-weight: normal;
	/*background: #84bdf3;*/
	border-width: 0px;

}

.text
{
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: normal;
	width: 70px;
}

.text2
{
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: normal;
	width: 150px;
}

.text3
{
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: normal;
	width: 250px;
}

.text4
{
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: normal;
	width: 350px;
}

textarea
{
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: normal;
	width: 250px;
	height: 50px;
	margin-right: 5px;
}

input.checkbox
{
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: normal;
}

fieldset
{
	padding: 0px;
	margin: 0px;
	position: relative;
	border: 0px;
}

.outline
{
	width: 250px;
	border-width: 1px;
    border-style: solid;
	border-color: white;
	padding: 10px;
}

.outline2
{
	width: 350px;
	border-width: 1px;
    border-style: solid;
	border-color: white;
	padding: 10px;
}

a:link, a:active, a:visited, a:hover
{
	background-color: none;
	color: #FFFFFF;
	font-size: 10px;
	font-family: verdana, helvetica;
	text-decoration: none
}

a:active, a:hover
{
	text-decoration: underline
}

.bigBold:link
{
	background: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none
}

.bigBold:active
{
	background: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline
}

.bigBold:visited
{
	background: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none
}

.bigBold:hover
{
	background: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline
}

.sensors:link
{
	background: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	white-space: nowrap;
}

.sensors:active
{
	background: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
	white-space: nowrap;
}

.sensors:visited
{
	background: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	white-space: nowrap;
}

.sensors:hover
{
	background: none;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
	white-space: nowrap;
}

.clear
{
	clear: none;
}

.systemmessage {
	border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	border-radius:.5em;
	position: relative;
}

.systemmessage.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../messages/info.png');
}
.systemmessage.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../messages/success.png');
}
.systemmessage.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url("../messages/warning.png");
}
.systemmessage.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../messages/error.png');
}

.systemmessage .close {
	color: grey;
	position: absolute;
	right: 10px;
	top: 12px;
	font-size: 16px;
	font-weight: bold;
}

.systemmessage a {
	color: inherit;
	text-decoration: underline;
}

.systemmessage a:hover {
	text-decoration: none;
}

.systemmessage a.close, .systemmessage a:hover.close, .systemmessage a:active.close, .systemmessage a:visited.close {
	text-decoration: none;
}

ul {	list-style-type: none; margin: 0; margin: 0; padding: 0; }

.activation { overflow: auto; }
.activation div.left { float: left; margin-right: 10px; }
.activation div.right { float: right; text-align: middle; }

#activationList { margin-top: 3px; margin-bottom: 3px; }

#activationList li { padding: 5px; margin-top: auto; margin-bottom: auto; }
#deviceList li { padding-bottom: 2px; vertical-align: middle;}

#activationList li.odd { background-color: #dddddd; }
#activationList li.even { background: #ffffcc; }  

#activationList li.odd:hover { background: #C8C8C8 ; }
#activationList li.even:hover { background: #C8C8C8 ; }

label
{
	margin-right: 5px;
}

.activationAbsDimDevices label
{
	width: 180px;
	vertical-align:middle;

}

.activationAbsDimDevices input.radio
{
	vertical-align:middle;
}

.error
{
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: bold;
	margin-top: 3px;
}

/* MENU STARTS HERE */

.menu
{
	float: right;
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
	.menu li
	{
		float: left;
		padding: 0px;
		list-style: none;
	}
	
	.menu li a
	{
		color: #ffffff;
		/*display: block;*/
		padding: 0;
		padding-left: 2px;
		padding-right: 5px;
	}
		.menu li a:hover
		{
			color: #000000;
		}
		
	.menu li ul
	{
		background: #ffffff;
		display: none;
		height: auto;
		position: absolute;
		float:left;
		width: 225px;
		z-index: 200;
	}
	
	.menu li:hover ul
	{
		display: block;
	}
	
	.menu li li
	{
		display: block;
		float: left;
		padding: 0px;
		width: 225px;
	}
	.menu li ul a
	{
		display: block;
		padding: 5px 10px 5px 15px;
		text-align: left;
		color: #000000;
	}
		.menu li ul a:hover
		{
			background: #949494;
			color: #000000;
			text-decoration: none;
		}
		

	.menu .selected
	{
		text-decoration: underline;
	}

/* MENU ENDS HERE */

.device-slider { width: 50px; }
.device-slider2 { width: 80px; float: left;}
.device-slider3 { width: 99%; height: 25px; }
.device-slider-val
{
	margin: 0px;
	width: 50px;
	text-align: right;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

.device-slider-box
{
	float: left;
	width: 50px;
}

.device-img-box
{
	margin-right: 2px;
	float: left;
}

.device-slider3.ui-slider-horizontal { height: 30px; }
.device-slider3.ui-slider .ui-slider-handle { height: 30px; }
.device-slider3.ui-slider-horizontal .ui-slider-handle { top: -1px;}

.ui-slider-range-min { background: #F4FA58; }

.bold
{
	color: white;
	font-family: verdana,helvetica;
	font-size: 10px;
	font-weight: bold;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.outline .right {
	text-align: right;
}

#infobox_content {
	font-size: 14px;
	white-space: nowrap;
}

#infobox_content div {
	padding-top: 5px;
	display: block;
}

#infobox_content .activation-run-img {
	margin-top: -5px;
	border: none;
}

.ellipsis {
	white-space: nowrap;
	height: 100%;
	position: relative;
}

.ellipsis.extra-margin {
	margin-bottom: 15px;
}

.ellipsis .description {
	max-width: 70%;
	display: block;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
}

.ellipsis .right {
	position: absolute;
	right: 0;
}

input:invalid  {
    background: #F2D9D9;
}

