.temp_table
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}

.header
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
	font-weight: bold;
	padding-bottom: 10px;
	white-space: nowrap;
}

.label
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight: bold;
	color: #000000;
	background: #dddddd;
	margin-right: 5px;
	padding: 5px;
	white-space: nowrap;
}

.temp_text
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	color: #000000;
	background: #ffffff;
	margin: 5px;
	padding: 5px;
	white-space: nowrap;
}

div.graph {
	width: 100%;
	margin-bottom: 10px;
}
